.gallery {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 50px auto;
  width: 100%;
}

.galleryContainer form {
  text-align: center;
  margin: 30px auto;
}
.galleryContainer form input {
  margin: 5px;
}