
.boxContainer {
  display: flex;
  flex-flow: column nowrap;
  border: solid 1px lightgrey;
  border-radius: 3%;
  padding: 10px;
  box-shadow: 10px 10px whitesmoke;
  margin: 80px auto 20px;
  width: 40%;
  max-width: 800px;
  min-width: 250px;
}

form.boxContainer label {
  display: block;
}

form.boxContainer * {
  margin: 10px;
}

form.boxContainer button {
  width: 100%;
  align-self: center;
  justify-self: end;
}

.loginContainer p {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  position: absolute;
}